<!--<button mat-stroked-button color="primary" (click)="geoFindMe()">Click me!</button>
<div id="out"></div>
-->
<div fxLayout.lt-md="column">
    <div fxLayout="row" fxLayout.lt-md="column" fxFlex.lt-md="100" fxLayoutAlign="space-around center">
        <mat-form-field class="search">
            <input type="text" placeholder="Select City" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getCity($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-chip-list class="cities">
            <mat-chip color="accent" (click)="getSlectedWeather('delhi')">New Delhi</mat-chip>
            <mat-chip color="accent" (click)="getSlectedWeather('jaipur')">Jaipur</mat-chip>
            <mat-chip color="accent" (click)="getSlectedWeather('mumbai')">Mumbai</mat-chip>
            <mat-chip color="accent" (click)="getSlectedWeather('kolkata')">Kolkata</mat-chip>
            <mat-chip color="accent" (click)="getSlectedWeather('chennai')">Chennai</mat-chip>
        </mat-chip-list>
    </div>
    <div *ngIf="city">
        <weather-details [city]="city"></weather-details>
    </div>
</div>